*{ margin: 0;
     padding: 0; 
     box-sizing: border-box;
     font-family: var(--primary-font);
     }

     :root{
--primary-color: #0a9c6f;
--grey-900: #0B1516; 
--grey-800: #122326;
--grey-700: #27313B;
--grey-500: #F2F3F5;
--grey-600:#8B8B8A;
--green-300: #1ED47B;
--green-200: #DFF8CE;
--green-button: #138b80;

--primary-font: "Roboto", sans-serif;
}
 
body {
     background-color: var(--primary-color);
     padding: 40px;
    
}

.app {background-color: white;
display: grid;
grid-template-columns: 320px 1fr;
height: 100vh;
overflow: hidden;
}

aside {
     background-color: var(--grey-900);
     color: white;
}

aside header {
     background-color: var(--grey-800);
     display: grid;
     grid-template-columns: 1fr 1fr;
     align-items: center;
     justify-content: space-between;
     gap: 20px;
padding: 10px;
}
.actions {
     display: flex;
     justify-content: end;
     gap: 10px;
}

.profile {
     display: flex;
     align-items: center;
     gap: 10px;
}
.profile img {
     width: 50px;
     border-radius: 50%;

}
.profile h2 {
     font-size: 18px;
}

.actions button {
     padding: 7px;
     border: none;
     border-radius: 8px;
     cursor: pointer;
     background-color: var(--grey-800);
     color: var(--grey-500);
     transition: transform .2s;
    
}
.actions button svg{
     width: 20px;
     

}

.actions button:hover {
     background-color: var(--grey-700);
     transform: translateY(-4px);
}